.loading{
    animation-name: loading-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.loading-div-1{
    background-color: rgb(var(--loading-color-1));
    border-radius: var(--loading-item-radius);
}
.loading-div-2{
    background-color: rgb(var(--loading-color-2));
    border-radius: var(--loading-item-radius);
}

.loading-item-1{
    background-color: rgb(var(--loading-color-1));
    border-radius: var(--loading-item-radius);
    height: 1em;
    width: 1.5em;
}
.loading-item-2{
    background-color: rgb(var(--loading-color-2));
    border-radius: var(--loading-item-radius);
    height: 1em;
    width: 1.5em;
}

@keyframes loading-animation {
    0% { opacity: 0.8; }
    50% { opacity: 1; }
    100% { opacity: 0.8; }
  }